@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.profile-pic {
  background-color: grey;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 2px gray;
}
