@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap");

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: normal;
  background: linear-gradient(to bottom right, ivory, #ffffff);
}

.button {
  background-color: rgb(210, 13, 13);
  font-weight: bolder;
  font-family: "Roboto";
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.1s ease-in-out;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: rgb(162, 18, 18);
}

.top-bar {
  border-bottom: solid black 2px;
  margin-bottom: 1%;
}

.top-bar-font {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16;
}

#menu-text {
  color: yellow;
  font-family: "Pacifico", cursive;
  font-weight: bolder;
  font-style: normal;
}

.smaller-font {
  font-size: 16px;
  font-weight: lighter;
}

.profile-container {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  height: 80%;
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: whitesmoke;
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.description-text-box {
  padding-right: 5rem;
  padding-left: 5rem;
}

@media (max-width: 640px) {
  .description-text-box {
    padding: 0%;
  }
}
.profile-pic {
  width: 18rem; /* Set a specific width */
  height: 18rem; /* Set a specific height */
  border: 6px solid grey;
  border-radius: 50%; /* Make the image a circle */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.profile-pic-form {
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: space-around; /* Adjust alignment as needed */
  margin: 2%;
}

.rounded-image {
  width: 150px; /* Set a specific width */
  height: 150px; /* Set a specific height */
  border: 3px solid grey;
  border-radius: 50%; /* Make the image a circle */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  margin: 2%;
  transition: transform 0.2s ease-in-out;
}

.rounded-image:hover {
  transform: scale(1.1);
}

.grid-container {
  margin-top: 2%;
}

.filter-container {
  width: 65%;
  margin-top: 1%;
  padding: 1%;
  margin: 0 auto;
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.profile-card-style {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 20%;
  height: 45%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 1%;
  background-color: whitesmoke;
}

.sign-in-background {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  position: relative;
  background-image: url("https://light-spar-development.s3.amazonaws.com/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.registration-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("https://light-spar-development.s3.amazonaws.com/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sign-in-image-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.sign-in-image {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  border-radius: 50%;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  text-align: center;
  font-weight: bold;
}
.logo {
  font-family: "Pacifico", cursive;
  font-weight: 450;
  font-style: normal;
}

.dropzone-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-bottom: 2%;
  margin-top: 2%;
  border: solid black 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
}

.form-input {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid black;
  min-width: auto;
  border-radius: 2px;
}
.form-input::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}

.form-labels {
  font-weight: bold;
}

label {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
