@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.top-bar-font {
  font-size: 10px;
  font-weight: lighter;
}

.smaller-font {
  font-size: 16px;
  font-weight: lighter;
}
.profile-pic {
  background-color: grey;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 2px gray;
}

.image-container {
  display: flex;
  justify-content: space-around; /* Adjust alignment as needed */
  margin: 2%;
}

.rounded-image {
  width: 150px; /* Set a specific width */
  height: 150px; /* Set a specific height */
  border: 3px solid #ccc;
  border-radius: 50%; /* Make the image a circle */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.card-container {
  margin-top: 2%;
}

.cardStyle {
  width: 25%;
  /* Add more styles as needed */
}
